:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

header {
  padding: 10px;
  position: absolute;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav h1{
  font-size: 30pt;
}
.external-nav{
  display: flex;
  flex-direction: column;
}
.external-nav a{
  font-size: 30pt;
  font-weight: 800;
  text-decoration-line: none;
}
#mxizzy{color: pink}
#bsky{color: blue}
#github{color: purple}

main {
  position: absolute;
  height: 100%;
  width: 80%;
  margin-left: 20%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

article{
  padding: 30px;
  width: inherit;
  height: inherit;
  background-color: white;
  color: black;
  overflow-y: scroll;
}
.links{
  height: 94px;
}
